@{
    ViewBag.Title = "G10_viewalbums";
}


<div link="G10" class="panel notinvisible">
    <a   link="G10_link" rel="[link='G10']" style=""></a>
     @ViewBag.Title_G10
     <div class="wrapper-large">
        <div class="module-header-row col-full">
        ALBUMS (5)
        <a  >
        <div link="G10_newAlbum" class="module-header-media-link">
        NEW ALBUM
        </div>
        </a>
        </div>
        <div class="clear"></div>
        <ul class="album-list col-full">
        <li><a    link="G10_viewAlbum" ><img src="@Href("../../Images/g10albumsgym2.png")"></a><div class="font-style-none">Weights<br />5 photos</div></li>
        <li><a    link="G10_viewAlbum" ><img src="@Href("../../Images/groupspilatesgroup.png")"> </a><div class="font-style-none">Pilates<br />5 photos</div></li>
        <li><a    link="G10_viewAlbum" ><img src="@Href("../../Images/groupsyogagroup.png")"> </a><div class="font-style-none">Yoga<br />5 photos</div></li>
        <li><a    link="G10_viewAlbum" ><img  src="@Href("../../Images/g10albumsgym.png")"> </a><div class="font-style-none">Workouts<br />5 photos</div></li>
        <li><a    link="G10_viewAlbum" ><img  src="@Href("../../Images/g10albumsfunrun.png")"> </a><div class="font-style-none">Fun Run<br />5 photos</div></li>
        </ul>
        <div class="clear"></div>

        <div class="clear"></div>

    
        <div class="module-header-row col-full">
        MY GALLERY (5)
        <a  >
        <div link="G10_newMedia" class="module-header-media-link">
        NEW MEDIA
        </div>
        </a>
        </div>

         <ul class="media-list col-full">
             <li>
                 <a  >
                     <img link="G10_mediaPhoto" src="@Href("../../Images/g10photos1.png")" /></a></li>
             <li>
                 <a  >
                     <img link="G10_mediaPhoto"  src="@Href("../../Images/g10photos2.png")" /></a></li>
             <li>
                 <a  >
                     <img  link="G10_mediaPhoto" src="@Href("../../Images/g10photos3.png")" /></a></li>
             <li><a  >
                 <img link="G10_mediaPhoto"  src="@Href("../../Images/g10photos4.png")" /></a></li>
             <li><a  >
                 <img link="G10_mediaPhoto"  src="@Href("../../Images/groupsphotos1.png")" /></a></li>
         </ul>


     </div>


  
</div>


