@{
    ViewBag.Title = "G60_viewalbum";
}


<div link="G60" class="panel invisible">
    <a   link="G60_link" rel="[link='G60']" style=""></a>
     @ViewBag.Title_G60
        <div class="wrapper-large">
        <div class="module-header-row col-full">
        WEIGHTS ALBUM (5)<button link="G60_back" class="small-nav-btn-light">Back to Gallery<button class="small-nav-btn-light">Delete Album</button>
    
        <a  >
        <div link="G60_newMedia" class="module-header-media-link">
        NEW MEDIA
        </div>
        </a>
    
        </div>
        <div class="clear"></div>
        
        <ul class="media-list col-full">
            <li><a link="G60_viewDetail"  ><img src="@Href("../../Images/g10albumsgym.png")" /></a></li>
            <li><a link="G60_viewDetail"  ><img src="@Href("../../Images/g10albumsgym1.png")" /></a></li>
            <li><a link="G60_viewDetail"  ><img src="@Href("../../Images/g10albumsgym2.png")" /></a></li>
            <li><a link="G60_viewDetail"  ><img src="@Href("../../Images/g10albumsgym3.png")" /></a></li>
            <li><a link="G60_viewDetail"  ><img src="@Href("../../Images/g10albumsgym4.png")" /></a></li>
        </ul>
    </div>
</div>


