
@{
    ViewBag.Title = "A100-30_addedit_meals";
}


<div link="A100-30" class="panel invisible">
    <a link="A100-30_link" rel="[link='A100-30']" style=""></a>
    @ViewBag.Title_A100_30
    <div class="wrapper-large height-large">
        <div class="title">Add/Edit Cycle</div>
        <div class="col-fifty">
            <label class="large-txt">
                Title:
                <span>
                    <input type="text" />
                </span>
            </label>

            <label class="large-txt">
                Description:
                <span>
                    <textarea>stuff into here</textarea>
                </span>
            </label>
            <div class="col-fourty">
                <label class="medium-txt">
                    Order:
                <span>
                    <input type="text" />
                </span>
                </label>
            </div>
            <div class="col-fourty">
                <label class="medium-txt">
                    Number of Weeks:
                <span>
                    <input type="text" />
                </span>
                </label>
            </div>
        </div>
        <div class="col-fourty">
            <label class="large-txt">
                Image for this program:
                <span>
                    <input type="file" />
                </span>
                <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
            </label>
        </div>
        <div class="clear"></div>
        <div class="row-main-margin-btm">
            <div class="col-hundred">
                <div class="left">
                    <button link="A100-30_exerciseButton" class="small-nav-btn-light">Exercises</button>
                    <button link="A100-30_mealsButton" class="small-nav-btn-dark">Meals</button>
                    <div>
                        <a link="A100-30_addNewMeal">add new meal</a> &nbsp  <a link="A100-30_chooseFromLibrary">choose from library</a>
                    </div>
                </div>
            </div>

            <div class="modal-max-large-row scroll-window">
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Bacon & Eggs</span><span class="med-font"> - 100 Calories</span><span class="med-font-bld">(M, W, F)</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Apple</span><span class="med-font"> - 100 Calories</span><span class="med-font-bld">(M, W, F)</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Sandwich</span><span class="med-font"> - 100 Calories</span><span class="med-font-bld">(M, W, F)</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Pizza</span><span class="med-font"> - 100 Calories</span><span class="med-font-bld">(M, W, F)</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <button link="A100-30_cancel" class="nav-btn-light">CANCEL</button>
            <button link="A100-30_cancel" class="nav-btn-green">SAVE</button>
        </div>
    </div>
</div>
