@{
    ViewBag.Title = "A200-0_view_exercises";
}


<div link="A200-0" class="panel invisible">
    <a link="A200-0_link" rel="[link='A200-0']" style=""></a>
    @ViewBag.Title_A200_0
    <div class="wrapper-large height-large">
        <div>
            <button link="A200-0_programs" class="segment-small-status-light col-third">Programs</button>
            <button class="segment-small-status-dark col-third">Exercise Library</button>
            <button link="A200-0_meallibrary" class="segment-small-status-light col-third">Meal Library</button>
        </div>
        <div class="clear"></div>
        <div class="right modal-max-tiny-row margin-top-ten">
            <a link="A200-0_addExercise">Add Exercise</a>
        </div>
        <div class="row-main-margin-btm">
            <div class="modal-max-huge-row scroll-window">
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Pushups</span><span class="med-font"> - 100 Calories</span>
                        </div>
                        <div class="right"><a link="A200-0_editExercise">Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Pushups</span><span class="med-font"> - 100 Calories</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Pushups</span><span class="med-font"> - 100 Calories</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Pushups</span><span class="med-font"> - 100 Calories</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="med-font-bld">Pushups</span><span class="med-font"> - 100 Calories</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>
    </div>
</div>

