@{
    ViewBag.Title = "pvU01";
}
<!--------------------------------------------------------- BEGIN _U01_ Trial SignUp --------------------------------------------->
<script>
    var _user_ViewModel;


    function U01_createUserSuccess(newId) {
        //_user_ViewModel.addedUserModel() now contains the newly added model
        alert("user created. Navigating to Survey.");

        CM.fadeTransition('U01', 'U10', 200);
    }
    function U01_createUserFail(msg) {
        alert("Failed to add user. " + msg);
    }


    $(document).ready(function () {

        $('[link="U01_join"]').click(function () { U01_join(); });
        $('[link="U01_cancel"]').click(function () { U01_cancel(); });

        CM.hookLink('U01_joinFull', 'fade', 'U01', 'U01-1');

        $('[link="U01_joinFull"]').click(function () { U01_joinFull(); });

        _user_ViewModel = new User_ViewModel();


        _user_ViewModel.beginCandidateUserModel();
        _user_ViewModel.candidateUserModel().UserName('');
        _user_ViewModel.candidateUserModel().Email('');
        _user_ViewModel.candidateUserModel().Password('');
        _user_ViewModel.candidateUserModel().Name('');
        _user_ViewModel.candidateUserModel().FirstName('');
        _user_ViewModel.candidateUserModel().LastName('');

        _user_ViewModel.candidateUserModel().DateOfBirth('1/1/1800');
        _user_ViewModel.candidateUserModel().GenderTypeId("1");
        _user_ViewModel.candidateUserModel().IsInitialSurveyComplete(true);
        _user_ViewModel.candidateUserModel().CreateDate("@DateTime.Now.ToString("MM/dd/yyyy")");
        _user_ViewModel.candidateUserModel().LastUpdateDate("@DateTime.Now.ToString("MM/dd/yyyy")");
        _user_ViewModel.candidateUserModel().LastLoginDate("@DateTime.Now.ToString("MM/dd/yyyy")");
        _user_ViewModel.candidateUserModel().LastLockoutDate("@DateTime.Now.ToString("MM/dd/yyyy")");
        _user_ViewModel.candidateUserModel().LastActivityDate("@DateTime.Now.ToString("MM/dd/yyyy")");
        _user_ViewModel.candidateUserModel().LastPasswordChangeDate("@DateTime.Now.ToString("MM/dd/yyyy")");
        _user_ViewModel.candidateUserModel().FailedPasswordAttemptCount(0);
        _user_ViewModel.candidateUserModel().FailedPasswordAttemptWindowStart("@DateTime.Now.ToString("MM/dd/yyyy")");
        _user_ViewModel.candidateUserModel().FailedPasswordAnswerAttemptCount(0);
        _user_ViewModel.candidateUserModel().FailedPasswordAnswerAttemptWindowStart("@DateTime.Now.ToString("MM/dd/yyyy")");
        _user_ViewModel.candidateUserModel().Comment("");
        _user_ViewModel.candidateUserModel().PasswordSalt("");
        _user_ViewModel.candidateUserModel().LoweredEmail("");
        _user_ViewModel.candidateUserModel().PasswordFormat(0);
        _user_ViewModel.candidateUserModel().IsOnline(false);
        _user_ViewModel.candidateUserModel().IsLockedOut(false);
        _user_ViewModel.candidateUserModel().IsApproved(false);
        _user_ViewModel.candidateUserModel().PasswordAnswer("");
        _user_ViewModel.candidateUserModel().PasswordQuestion("");
        _user_ViewModel.candidateUserModel().PromotionCode("");

        ko.attach("vmUser", _user_ViewModel);
    });


    function U01_registerSuccessCallback(newId) {
        location = "Users/Survey/" + newId;
    }

    function U01_registerFailCallback(err) {
        alert('failed to register user :' + err);
    }

    function U01_registerNewUser() {
        CM.hideSpinner('spinner_join');
        var username = _user_ViewModel.candidateUserModel().FirstName() + ' ' +  _user_ViewModel.candidateUserModel().LastName();


        _user_ViewModel.candidateUserModel().UserName(username);
        _user_ViewModel.candidateUserModel().Name(username);

        var password = _user_ViewModel.candidateUserModel().Password();
        var email = _user_ViewModel.candidateUserModel().Email();

        var token = '@Html.AntiForgeryTokenValueOrchard()';
        var model = '[]';
        model['__RequestVerificationToken'] = token;

        var result = $.ajax('api/Liveo.Platform/AccountApi?userName=' + username + '&email=' + email + '&password=' + password, {
            data: ko.toJSON(model), type: 'post', contentType: 'application/json', dataType: 'json',
            success: function (model) {

                U01_registerSuccessCallback(model.Id);
            },
            error: function (xhr, textStatus, errorThrown) {
                U01_registerFailCallback(errorThrown);
            }
        });

    }



    //function U01_commitSuccess(newid) {
    //    CM.hideSpinner('spinner_join');
    //    location = "Users/Survey";

    //}
    //function U01_commitFail(msg) {
    //    alert('There was a problem creating this user: ' + msg);
    //}

    function U01_cancel() {
        location = ".";
    }

    //function U01_join() {
    //    if (U01_validated()) {
    //        CM.showSpinner('spinner_join');
    //        _user_ViewModel.commitCandidateUserModel(U01_commitSuccess, U01_commitFail);
    //    } 
    //}

    function U01_join() {
        if (U01_validated()) {
            CM.showSpinner('spinner_join');
            U01_registerNewUser();
        }
    }


    function U01_validated() {

        var userAgreement = $('[link="U01_userAgreement"]').is(':checked');

        var divFirstName = $('[link="U01_firstName"]');
        var firstName = $('[link="U01_txtFirstName"]');

        var divLastName = $('[link="U01_lastName"]');
        var lastName = $('[link="U01_txtLastName"]');

        var divEmail = $('[link="U01_email"]');
        var email = $('[link="U01_txtEmail"]');

        var divPassword = $('[link="U01_password"]');
        var password = $('[link="U01_txtPassword"]');

        var divRPassword = $('[link="U01_repeatPassword"]');
        var rpassword = $('[link="U01_txtRepeatPassword"]');

        var passwordsMatch = validPasswordsMatch(password, rpassword);

        var validFirstName = validNotBlank(firstName, divFirstName);
        var validLastName = validNotBlank(lastName, divLastName);
        var validEmail = validNotBlank(email, divEmail);
        var validPassword = validNotBlank(password, divPassword);
        var validRepeatPassword = validNotBlank(rpassword, divRPassword);


        if (userAgreement != true) {
            alert("You must agree to the User Agreement and Privacy Policy");
            return false;
        }

        if (validFirstName && validLastName && validEmail && validPassword && validRepeatPassword && passwordsMatch) {
            return true;
        } else {
            if (!passwordsMatch) {
                $('[link="U01_invalidPasswordMatch"]').html("<label class='invalid'>Passwords do not match</label>");
            } else {
                $('[link="U01_invalidPasswordMatch"]').html("");
            }
            return false;
        }
    }

    function invalid($element) {
        $element.addClass("invalid");
    }

    function valid($element) {
        $element.removeClass("invalid");
    }

    function validNotBlank($txt, $outerDiv) {
        if (!$txt.val()) {
            invalid($outerDiv)
            return false;
        } else {
            valid($outerDiv)
            return true;
        }
    }

    function validPasswordsMatch($p1, $p2) {
        if ($p1.val() != $p2.val()) {
            invalid($p1);
            invalid($p2);
            return false;
        } else {
            return true;
        }
    }

</script>
<div data-model="vmUser">
    <div link="U01" class="panel notinvisible">
        HERE IS A CHANGE.
        <div class="wrapper-large">
            <div class="title">Membership Registration</div>
            <div class="col-sixty">
                <a link="U01_link" rel="[link='U01']" style=""></a>
                @ViewBag.Title_U01

                <label link="U01_FirstName" class="large-txt">First Name:
                    <input data-bind="value:candidateUserModel().FirstName" link="U01_txtFirstName" type="text" />
                </label>
                <br/>
                <label link="U01_lastName" class="large-txt">Last Name:
                    <input data-bind="value:candidateUserModel().LastName" link="U01_txtLastName" type="text" />
                </label>
                <br/>
                <label link="U01_email" class="large-txt">Email (Username):
                    <input data-bind="value:candidateUserModel().Email"  link="U01_txtEmail" type="text" />
                </label>
                <br/>
                <div class="noupper">Your password must be at least 8 characters <br /> and contain at least 1 numeric digit.</div>
                <br />
                <label link="U01_password" class="large-txt">Password:
                    <input data-bind="value:candidateUserModel().Password"  link="U01_txtPassword" type="password" /><div link="U01_invalidPasswordMatch"></div>
                </label>    
                <br/>
                <label  link="U01_repeatPassword"  class="large-txt">Password Confirmation:
                    <input link="U01_txtRepeatPassword" type="password" />
                </label>
                <br/>                <label class="large-txt">Promotional Code:
                    <input  data-bind="value:candidateUserModel().PromotionCode"   type="text" />
                </label>
                <br/>
                <br />
                <div class="noupper"><input link="U01_userAgreement" type="checkbox"/> I agree to the Liveo <a href="@Href("../../Images/LIVEO Terms of Service.pdf")">User Agreement</a> and <a href="@Href("../../Images/LIVEO Privacy Policy.pdf")">Privacy Policy</a>.</div>
		       
                <br />
                <br />
                <div>
                    <button class="segment-small-status-light" link="U01_cancel" class="primaryAction">Cancel</button>
                    <button class="segment-small-status-green" link="U01_join" class="primaryAction">Trial Membership</button>
                    <button class="segment-small-status-green" link="U01_joinFull" class="primaryAction">Full Membership</button>

                    <div id="spinner_join" class="invisible inl">
                        please wait...
                        <img id="img-spinner" src="@Href("../../Images/waiting.gif")" alt="Loading" />
                    </div>


                <br/><br/><br />
                </div>
                <br />

                <div class="noupper">Already have an account? Sign in  <a href="Users/Account/LogOn">HERE</a>.</div>

            
                @*<br/><br/><br/>
                <img src="@Href("../../Images/sign_facebook.jpg")" /><br/>
                <img src="@Href("../../Images/sign_twitter.jpg")" />*@
                <p>
                    <label><div link="U01_message"></div></label>
          
                </p>
            </div>
            <div col="col-thirty">
                      @*<img class="btm-rt" src="@Href("../../Images/U01_signup_banner2.jpg")" />*@
                  </div>
                <img src="@Href("../../Images/U01_signup_banner2.jpg")" />
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------- END _U01_ -------------------------------------------------------------->