@{
    ViewBag.Title = "GR40-10_page_viewgroup_main";
}

<div link="GR40-10" class="panel invisible">
    <a link="GR40-10_link" rel="[link='GR40-10']" style=""></a>
    @ViewBag.Title_GR40_10
    <div class="wrapper-large">
        <div class="title">Dallas Spin Group (588 Members)</div>
        <div class="col-full">
            <div class="left">
                <button link="GR40-10_BackToMyGroups" class="small-nav-btn-light">My Groups</button>
            </div>
            <div class="right">
                <button link="GR40-10_EditGroup" class="small-nav-btn-light">Edit Group</button>
            </div>
        </div>
        <div class="clear"></div>
        <hr />
        <div class="col-sixty">
            <div class="modal-max-small-row">
                <h2>Spin Group</h2>
                <em>established 2012</em>
            </div>
            <div class="modal-max-medium-row">
                Spin Bike Shop is proud to be considered the home-base for many cyclists and triathletes in our area.

 

Club Spin serves as the foundation for our teams and anyone is welcome to join! Membership includes access to our rides and workouts, special events, rider forum, and more.

 

Team Spin / RR Donnelley is our bicycle racing team that was created not only to showcase the talents of our best Club Spin riders, but also to act as a place where aspiring junior racers can get the help and assistance they need to move up from beginning to expert racers.

 

SSSMST(Spin/Second Sole Multi-Sport Team) is a partnership between Spin Bike Shop andSecond Sole of Rocky River. A development from Club Spin and the Second Sole Running Group, this team concentrates on triathlon and duathlon competition.       
            </div>
        </div>
        <div class="right media-box">
            <div class="group-symbol-large">
                <img src="@Href("../../Images/group_ppl.png")">
            </div>
            <img src="@Href("../../images/spingroup.jpg")" height="250px" width="250px" />
        </div>
        <div class="clear"></div>
        <div class="col-full">
            <div>
                <button class="segment-small-status-dark col-third">Announcements</button>
                <button link="GR40-10_Pictures" class="segment-small-status-light col-third">Pictures</button>
                <button link="GR40-10_Members" class="segment-small-status-light col-third">Members</button>
            </div>
            <div class="clear"></div>
            <div link="GR40-10_addChallenges" class="right margin-ten"><a>Add Challenges</a> | <a>Add Announcement</a></div>
        </div>
        <div class="modal-max-huge-row scroll-window">
            <div class="border-1">
                <div class="col-fifteen">

                    <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="modal-max-small-row">
                        <span class="med-font-bld">Challenge - Spin100</span><br />
                        <hr />
                        Keep your dollars local this year and get your shopping done without having to leave the city.
                    </div>
                    <div class="col-hundred">
                        <div class="left light-font">Due Date: 12/3/2011</div>
                        <div class="right">
                            <button link="GR40-10_addChallenges"  class="small-nav-btn-green">View Details</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">

                    <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="modal-max-small-row">
                        <span class="med-font-bld">Spin Bike Shop, Cottage of Flowers Getting Building Overhaul?</span><br />
                        <hr />
                        The building’s owner presents plans to the city for improvements to the building at the intersection of Madison and Marlowe avenues.
                    </div>
                    <div class="col-hundred">
                        <div class="left light-font">Due Date: 12/3/2011</div>
                        <div class="right">
                            <button link="GR40-10_addChallenges"  class="small-nav-btn-green">View Details</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">

                    <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="modal-max-small-row">
                        <span class="med-font-bld">Bike for Beck Tour Gets Ready to Roll</span><br />
                        <hr />
                        Fundraising event features bike tour and artist showcase on May 19
                    </div>
                    <div class="col-hundred">
                        <div class="left light-font">Due Date: 12/3/2011</div>
                        <div class="right">
                            <button link="GR40-10_addChallenges"  class="small-nav-btn-green">View Details</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">

                    <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="modal-max-small-row">
                        <span class="med-font-bld">Complete 5 Trainings In 1 Week</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                    </div>
                    <div class="col-hundred">
                        <div class="left light-font">Due Date: 12/3/2011</div>
                        <div class="right">
                            <button link="GR40-10_addChallenges"  class="small-nav-btn-green">View Details</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>

</div>

