@{
    ViewBag.Title = "A100-0_view_my_programs";
}


<div link="A100-0" class="panel notinvisible">
    <a   link="A100-0_link" rel="[link='A100-0']" style=""></a>
       @ViewBag.Title_A100_0
      <div class="wrapper-large height-large">
        <div>
            <button class="segment-small-status-dark col-third">Programs</button>
            <button link="A100-0_exerciselibrary" class="segment-small-status-light col-third">Exercise Library</button>
            <button link="A100-0_meallibrary" class="segment-small-status-light col-third">Meal Library</button>
        </div>
        <div class="clear"></div>
        <div link="A100-0_addprogram" class="right modal-max-tiny-row margin-top-ten">
            <a  >Add Program</a>
        </div>
        <div class="row-main-margin-btm">
            <div class="modal-max-huge-row scroll-window">
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a   link="A100-0_editprogram">Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

</div>


