@{
    ViewBag.Title = "A200-25_choose_exercise";
}


<div link="A200-25" class="panel invisible">
    <a   link="A200-25_link" rel="[link='A200-25']" style=""></a>
    @ViewBag.Title_A200_25
    <div class="wrapper-medium">
    <div class="title">Choose From Exercise Library</div>
    <label class="auto-txt">Search:
               
        <span>
            <input type="text" />
        </span>
    </label>

    <div class="row-main-margin-btm">
        <div class="modal-max-huge-row scroll-window">
            <div class="border-1">
                <div class="col-ten">
                    <img src="@Href("../../images/profile-pic.jpg")" height="60px" width="60px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="small-font-bld">Base Strength</span><span class="small-font"> - 100 Calories Burned</span>
                    </div>
                    <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-ten">
                    <img src="@Href("../../images/profile-pic.jpg")" height="60px" width="60px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="small-font-bld">Base Strength</span><span class="small-font"> - 100 Calories Burned</span>
                    </div>
                    <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-ten">
                    <img src="@Href("../../images/profile-pic.jpg")" height="60px" width="60px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="small-font-bld">Base Strength</span><span class="small-font"> - 100 Calories Burned</span>
                    </div>
                    <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-ten">
                    <img src="@Href("../../images/profile-pic.jpg")" height="60px" width="60px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="small-font-bld">Base Strength</span><span class="small-font"> - 100 Calories Burned</span>
                    </div>
                    <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <label>Apply Selected Exercise For:
               
        <span>
            <ul class="left">
                <li>
                    <input type="checkbox" />
                    Sunday</li>
                <li>
                    <input type="checkbox" />
                    Monday</li>
                <li>
                    <input type="checkbox" />
                    Tuesday</li>
                <li>
                    <input type="checkbox" />
                    Wednesday</li>
            </ul>
            <ul class="left-list">
                <li>
                    <input type="checkbox" />
                    Thursday</li>
                <li>
                    <input type="checkbox" />
                    Friday</li>
                <li>
                    <input type="checkbox" />
                    Saturday</li>
            </ul>
        </span>
    </label>
    <div class="clear"></div>
    <label>Add to Exercise Library:
               
        <span>
            <input type="checkbox" /></span>
    </label>
    <div class="right">
         <button link="modalcancelbutton" class="nav-btn-light">CANCEL</button>
         <button link="modalokbutton" class="nav-btn-green">SAVE</button>

    </div>
</div>

</div>
