@{
    ViewBag.Title = "A300-0_view_meals";
}


<div link="A300-0" class="panel invisible">
    <a   link="A300-0_link" rel="[link='A300-0']" style=""></a>
    @ViewBag.Title_A300_0
    <div class="wrapper-large height-large">
    <div>
        <button link="A300-0_programs" class="segment-small-status-light col-third">Programs</button>
        <button link="A300-0_exerciselibrary" class="segment-small-status-light col-third">Exercise Library</button>
        <button class="segment-small-status-dark col-third">Meal Library</button>
    </div>
    <div class="clear"></div>
    <div class="right modal-max-tiny-row margin-top-ten">
        <a   link="A300-0_addmeal">Add Meal</a>
    </div>
    <div class="row-main-margin-btm">
        <div class="modal-max-huge-row scroll-window">
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="med-font-bld">Salmon On Greens</span><span class="med-font"> - 100 Calories</span>
                    </div>
                    <div class="right"><a   link="A300-0_editmeal">Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="med-font-bld">Salmon On Greens</span><span class="med-font"> - 100 Calories</span>
                    </div>
                    <div class="right"><a   link="A300-0_editmeal">Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="med-font-bld">Pushups</span><span class="med-font"> - 100 Calories</span>
                    </div>
                    <div class="right"><a   link="A300-0_editmeal">Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="med-font-bld">Salmon On Greens</span><span class="med-font"> - 100 Calories</span>
                    </div>
                    <div class="right"><a   link="A300-0_editmeal">Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="@Href("../../images/profile-pic.jpg")" height="65px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="left">
                        <span class="med-font-bld">Salmon On Greens</span><span class="med-font"> - 100 Calories</span>
                    </div>
                    <div class="right"><a   link="A300-0_editmeal">Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                    <div class="clear"></div>
                    <hr />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                   
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>
</div>


