@{
    ViewBag.Title = "A100-10";
}

<div link="A100-10" class="panel invisible">
    <a   link="A100-10_link" rel="[link='A100-10']" style=""></a>
    @ViewBag.Title_A100_10
    <div class="wrapper-large height-large">
        <div class="title">Edit Program</div>
        <div class="col-fifty">
            <label class="large-txt">
                Title:
                <span>
                    <input type="text" />
                </span>
            </label>

            <label class="large-txt">
                Description:
                <span>
                    <textarea>stuff into here</textarea>
                </span>
            </label>
            <label>
                Tags:
                <ul class="tags">
                    <li>fruit</li>
                    <li>vegetable</li>
                </ul>
            </label>
        </div>
        <div class="col-fourty">
            <label class="large-txt">
                Image for this program:
                <span>
                    <input type="file" />
                </span>
                <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
            </label>
        </div>
        <div class="clear"></div>
        <div class="row-main-margin-btm">
            <div class="col-hundred">
                <label class="left">Cycles:</label>
                <div class="right">
                    <button class="small-nav-btn-green">Add Cycle</button>
                </div>
            </div>
            <div class="modal-max-large-row scroll-window">
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 1-2)</span><br />
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                       
                    </div>
                    <div class="col-twenty txt-right">
                        <a>Edit</a> | <a>Delete</a> | <a>Clone</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <button link="A100_10_cancel" class="nav-btn-light">CANCEL</button>
            <button link="A100_10_cancel" class="nav-btn-green">SAVE</button>
        </div>
    </div>
</div>
