
@{
    ViewBag.Title = "HP400-10";
}

<div link="HP400-10" class="panel invisible">
    <a   link="HP400-10_link" rel="[link='HP400-10']" style=""></a>
    @ViewBag.Title_HP400_10
    <div class="wrapper-medium whiteback">
        <div class="title">Search & Choose From Exercise Library Or Enter Your Own</div>
        <label>
            Search:
                <span class="large-txt">
                    <input type="text" />
                    <button link="HP400_10_enterNewExercise" class="right small-nav-btn-green">Enter New Exercise</button>
                </span>
        </label>

        <div class="row-main-margin-btm">
            <div class="modal-max-huge-row scroll-window">
                <div class="border-1">
                    <div class="col-ten">
                        <img src="@Href("../../images/profile-pic.jpg")" height="60px" width="60px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="small-font-bld">Base Strength</span><span class="small-font"> - 100 Calories Burned</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-ten">
                        <img src="@Href("../../images/profile-pic.jpg")" height="60px" width="60px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="small-font-bld">Base Strength</span><span class="small-font"> - 100 Calories Burned</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-ten">
                        <img src="@Href("../../images/profile-pic.jpg")" height="60px" width="60px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="small-font-bld">Base Strength</span><span class="small-font"> - 100 Calories Burned</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-ten">
                        <img src="@Href("../../images/profile-pic.jpg")" height="60px" width="60px" />
                    </div>
                    <div class="col-eighty">
                        <div class="left">
                            <span class="small-font-bld">Base Strength</span><span class="small-font"> - 100 Calories Burned</span>
                        </div>
                        <div class="right"><a>Edit</a> | <a>Delete</a> | <a>Clone</a></div>
                        <div class="clear"></div>
                        <hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                   
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <label class="small-txt">
            Enter Duration For Chosen Exercise:
                <span>
                    <input type="number" />
                </span>
        </label>
        <div class="right">
            <button link="HP400_10_cancel" class="nav-btn-light">CANCEL</button>
            <button link="HP400_10_cancel" class="nav-btn-green">ADD SELECTED EXERCISE</button>

        </div>
    </div>
</div>
