@{
	var ImgPath = Url.Content("~/Themes/Liveohhh/Content/Images/");
}



<div class="wrap" style="height:421px;">

<div id="content-float-left">
<img src="@(ImgPath + "Connectivity/picture1.png")">
</div>
<div  id="content-sub-text-main">
<div id="content-sub-head">
<div id="content-header">SUCCESS THROUGH SOCIAL CHEERS</div>
<div id="content-sub-header">and ongoing encouragement.</div>
</div>
Life-changing transitions require extensive support. Accessible both online or through our mobile app, LIVEO 
Corporate Wellness connects your employees to a social network of colleagues, family members, health 
professionals and groups of like-minded people. Our social network function allows aspirations to be shared 
and success stories to be celebrated through either a closed-loop private corporate network or mainstream social 
media applications like Facebook, Twitter and Pinterest. And employees can easily come together around common 
interests by setting up groups within their social community.
</div>

</div>

<div id="page-row-red">
<div class="row-wrap">
<div id="red-row-wrapper">
<div id="red-row-width">

<div id="red-row-icon">
<img src="@(ImgPath + "Connectivity/icon1.png")">
</div>

<div id="red-row-text">
<strong>GROUPS OFFER SUPPORT</strong> and keep employees motivated.
</div>

<div id="red-row-icon">
<img src="@(ImgPath + "Connectivity/icon4.png")">
</div>

<div id="red-row-text">
The <strong>PULSE</strong> feed aggregates selected information in one place.
</div>

</div>


<div id="red-row-separator"></div>
<div id="red-row-width">

<div id="red-row-icon">
<img src="@(ImgPath + "Connectivity/icon2.png")">
</div>

<div id="red-row-text">
Closed group <strong>INTERACTION OR CONNECT</strong> through mainstream social media.
</div>


<div id="red-row-icon">
<img src="@(ImgPath + "Connectivity/icon5.png")">
</div>
<div id="red-row-text">
<strong>CELEBRATE SUCCESSES</strong> and share aspirations through STATUS updates.
</div>
</div>


<div id="red-row-separator"></div>
<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "Connectivity/icon3.png")">
</div>
<div id="red-row-text">
<strong>INTERACT</strong> with trainers, affiliates and LIVEO talent in an online setting.
</div>
</div>


</div>
</div>