@{
	var ImgPath = Url.Content("~/Themes/Liveohhh/Content/Images/");
}



<div class="wrap" style="height:458px;">

<div id="content-float-left">
<img src="@(ImgPath + "LiveoContent/picture1.png")">
</div>
<div  id="content-sub-text-main">
<div id="content-sub-head">
<div id="content-header">UNIQUE CONTENT</div>
<div id="content-sub-header">to pique and sustain interest.</div>
</div>
Designed for all health and fitness levels, only LIVEO Corporate Wellness combines live-streaming original 
programming with robust health, fitness and nutritional content from a variety of experts. We create a higher 
level of personal initeraction and continued engagement through group fitness sessions and one-on-one virtual 
training sessions, as well as personalized fitness and nutrition plans–providing your employees with the 
kind of results-driven content they won’t find anywhere else.
</div>

</div>

<div id="page-row-red">
<div class="row-wrap">
<div id="red-row-wrapper">
<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "LiveoContent/icon1.png")">
</div>
<div id="red-row-text">
<strong>CERTIFIED INSTRUCTORS</strong> lead live and interactive group sessions on Pilates, Zumba, yoga, cardio, strength, cross-fit, toning and more.
</div>
<div id="red-row-icon">
<img src="@(ImgPath + "LiveoContent/icon4.png")">
</div>
<div id="red-row-text">
<strong>MASTER CHEFS</strong> including Tiffany Collins and Johnny Carino demonstrate how to plan and prepare healthier meals.
</div>
</div>
<div id="red-row-separator"></div>

<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "LiveoContent/icon2.png")">
</div>
<div id="red-row-text">
<strong>A WIDE VARIETY OF ARTICLES, BLOGS AND FEATURED CONTENT</strong>, including the monthly MyLIVEO digital magazine, provide the latest news and trends around health and fitness.
</div>

<div id="red-row-icon">
<img src="@(ImgPath + "LiveoContent/icon5.png")">
</div>
<div id="red-row-text">
<strong>LIESA HART, MD AND OTHER HEALTH AND MEDICAL EXPERTS</strong> provide guidance on a range of topics such as heart disease, depression/stress management  and medical weight loss.
</div>
</div>


<div id="red-row-separator"></div>
<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "LiveoContent/icon3.png")">
</div>
<div id="red-row-text">
<strong>EMPLOYEES</strong> can also schedule one-on-one  training sessions.</div>
</div>

</div>
</div>
</div>
