@{
	var ImgPath = Url.Content("~/Themes/Liveohhh/Content/Images/");
}


<div class="page-row-wrap" style="height:441px;">

<div id="content-float-left">
<img src="@(ImgPath + "Capabilities/pic1.png")">
</div>
<div  id="content-sub-text-main">
<div id="content-sub-head">
<div id="content-header">WORKS THE WAY YOUR EMPLOYEES</div>
<div id="content-sub-header">workout...and live.</div>
</div>
LIVEO Corporate Wellness has the integration and interoperability with other planning and tracking applications
to support the most optimized health and fitness management possible. Our unique tools and incentives 
increase your employees’ day-to-day health awareness and accountability, making it easier to track participation
and acknowledge milestones. And detailed analytics and reporting provides measureable evidence of program 
effectiveness and ROI.
</div>

</div>

<div id="page-row-red">
<div class="row-wrap">
<div id="red-row-wrapper">

<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "Capabilities/icon1.png")">
</div>
<div id="red-row-text">
<strong>ASSISTANCE</strong> with setting up biometric screenings through your insurance provider.
</div>
<div id="red-row-icon">
<img src="@(ImgPath + "Capabilities/icon4.png")">
</div>
<div id="red-row-text">
<strong>TOOLS</strong> for easy management of challenges, team activities and rewards
</div>
</div>



<div id="red-row-separator"></div>
<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "Capabilities/icon2.png")">
</div>
<div id="red-row-text">
<strong>EMPLOYEE-CONTROLLED</strong> text alerts and reminders.
</div>

</div>
<div id="red-row-separator"></div>
<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "Capabilities/icon3.png")">
</div>
<div id="red-row-text">
<strong>ABILITY TO ASSESS HEALTH IMPROVEMENTS</strong> through individual activity reports and cumulative health risk assessment and biometric reports.
</div>

</div>

</div>
</div>
</div>


<div class="page-row-wrap" style="height:300px;">

<div id="content-float-left">
<img src="@(ImgPath + "Capabilities/pic2.png")">
</div>

<div id="content-sub-text-main">
Your employees access a portion of the LIVEO site dedicated just to your program, optionally branded with your 
corporate color palette. From there, they enjoy all the tools and functionality LIVEO has to offer from superior 
nutrition and fitness tracking to our unique live-streaming content, to a support system of co-workers and, if 
you choose, the social universe.  
</div>

</div>

<div id="page-row-red">
<div class="row-wrap">
<div id="red-row-wrapper">

<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "Capabilities/icon5.png")">
</div>
<div id="red-row-text">
<strong>MYHEALTH PAGE</strong> lets employees monitor their personal health information including weight, body fat, blood pressure, cholesterol, hydration, and more.
</div>
<div id="red-row-icon">
<img src="@(ImgPath + "Capabilities/icon8.png")">
</div>
<div id="red-row-text">
<strong>TOOLS</strong> to track fitness/activity and food/nutrition.
</div>
</div>

<div id="red-row-separator"></div>
<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "Capabilities/icon6.png")">
</div>
<div id="red-row-text">
<strong>INTEGRATION OF DATA</strong> from existing devices (such as Nike Fuel Band, FitBit, etc.).
</div>

</div>
<div id="red-row-separator"></div>
<div id="red-row-width">
<div id="red-row-icon">
<img src="@(ImgPath + "Capabilities/icon1.png")">
</div>
<div id="red-row-text">
<strong>ONLINE STORE</strong> with products from LIVEO and affiliates.
</div>
</div>

</div>
</div>
</div>